
// preset form values if we receive a userdata object //
- user = user

extends layout_p

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') jdbc_sql_web_client
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p  &nbsp;
	p &nbsp;
	p

	div.well
		br
		p
		|  a small sql client offering arbitrary sql input, output of the response and ability to repeat query execution
		p
			a(href="https://github.com/jfseb/jdbcsql_web_client") https://github.com/jfseb/jdbcsql_web_client
		p

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
